
@model SignInModel


<div class="login">
    <div class="account-login">
        <h1>Account Login</h1>
        <form method="post" class="login-form">
            <span>@ViewData["msg"]</span>
            
                <div class="form-group ">
                    <input type="text" placeholder="User Name" class="form-control" asp-for="Name">
                    <span asp-validation-for="Name"></span>
                </div>
         
               
                    <div class="form-group ">
                        <input type="password" placeholder="Password" class="form-control" asp-for="Password">
                        <span asp-validation-for="Password"></span>
                  
                </div>
               
                    <div class="remember">
                        <label class="custom-checkbox">
                            <input type="checkbox" asp-for="rememberMe">
                            Remember me
                            <span class="checkmark"></span>
                        </label>
                        <a href="#" class="pull-right">Forgot Password?</a>
                  
                </div>

                <input type="submit" value="Login" class="btn btn-default" asp-action="login" />
                <p>Are you new?<a asp-action="Index" asp-controller="Account">Sign Up</a></p>
        </form>
    </div>
</div>
